/*CSS for larger screens*/

.carousel {
  position: relative;
  /* width: auto; */
  height: calc(100vh - 100px);
  /* margin-bottom:100px; */
}

.carousel-item {
  height: calc(100vh - 100px);
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
    position: relative;
    width: 100%;

}

.carousel-item-prev .color-overlay{
  height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.carousel-item-next .color-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.carousel-item .color-overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

/* .carousel-item-next .background-zero  {
  opacity: 0;
} */

.carousel-item-next .carousel-caption1 {
  opacity: 0;
}

.carousel-item-prev .carousel-caption1 {
  opacity: 0;
}

.carousel-item-next .carousel-caption1 .caption-logo {
  opacity: 0;
}

.carousel-item-prev .carousel-caption1 .caption-logo {
  opacity: 0;
}

.carousel-item-next .carousel-caption1 .caption-heading {
  opacity: 0;
}

.carousel-item-prev .carousel-caption1 .caption-heading {
  opacity: 0;
}

.carousel-item-next .carousel-caption1 .caption-description {
  opacity: 0;
}

.carousel-item-prev .carousel-caption1 .caption-description {
  opacity: 0;
}

.carousel-item-next .carousel-caption1 .caption-link {
  opacity: 0;
}

.carousel-item-prev .carousel-caption1 .caption-link {
  opacity: 0;
}

.carousel-caption1 {
  position: absolute;
  left: 5%;
  top: 20%;
  width: 50%;
  color: #fff;
}

.caption-logo.infinity {
  padding-bottom: 40px
 }
 
 .caption-logo.factory {
   padding-bottom: 30px
  }

.carousel-caption1 .caption-logo {
  display: block;
  max-width: 60px; 
   max-height: 60px;
  width: auto;

  margin-bottom: 12%;

  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property:opacity;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.carousel-caption1 .caption-heading {
  padding-bottom: 2%;

  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property:opacity;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.carousel-caption1 .caption-description {
  padding-bottom: 8%;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property:opacity;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: ease-in-out;
}

.carousel-caption1 .caption-link{
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0.8s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property:opacity;
  transition-duration: 0.5s;
  transition-delay: 0.8s;
  transition-timing-function: ease-in-out;
}

ol.carousel-indicators {
  position: fixed;
  bottom: 0px;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.carousel-indicators li {
  float: left;
  width: 16.67%;
  height: 100px;
  margin: 0;
  transition: background-color .5s ease;
}

 /* ol.carousel-indicators li:hover>.indicator-description {
  background-color: rgba(255, 255,255, 0.3) !important;
}  */

ol.carousel-indicators li:hover {
  background-color: rgba(255, 255,255, 0.2) !important;
} 

ol.carousel-indicators li.active {
  background-color: rgba(255, 255,255, 0.2) !important;
}

ol.carousel-indicators li::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 0px;
  content: "";
}

.indicator-container {
  display: flex;
  flex-direction: column;
}

.indicator-logo {
  display: block;
  max-width: 52px;
  max-height: 60px;
  width: auto;
  height: auto;
  margin: auto;
  padding-top: 5%;
}

.indicator-description {
  font-size: 0.85em;
  height: 40%;
  max-height: 40%;
  margin: auto;
  margin-bottom: 0px;
  padding-top: 5%;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.fixed-row-bottom {
  position: fixed;
  bottom: 0;
}

#wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100px;
  background-color: Gray;
}

#wrapper div {
  display: table-cell;
  height: 100px;
  text-align: center;
}

/* .orange-border {
  border-style: solid;
  border-color: rgb(255, 166, 0);
} */

.grey-background {
  background-color: #2e2e2e !important;
}

.dark-grey-background {
  background-color: #292929 !important;
}

.magenta-bottom-border {
  border-bottom-style: solid;
  border-bottom-color: #C927FF;
  border-bottom-width: 4px;
}

.color-zero{
  background: #C927FF;
}

.pink-bottom-border {
  border-bottom-style: solid;
  border-bottom-color: #FF0062;
  border-bottom-width: 4px;
}

.color-flux{
  background: #FF0062;
}

.turqoise-bottom-border {
  border-bottom-style: solid;
  border-bottom-color: #00FF96;
  border-bottom-width: 4px;
}

.color-infinity{
  background: #00FF96;
}

.black-bottom-border {
  border-bottom-style: solid;
  border-bottom-color: #202020;
  border-bottom-width: 4px;
}

.color-factory{
  background: #202020;
}

.orange-bottom-border {
  border-bottom-style: solid;
  border-bottom-color: #FF8D00;
  border-bottom-width: 4px;
}

.color-numa{
  background: #00B5E8;
}

.color-memento{
  background: black;
}

 .blue-bottom-border {
  border-bottom-style: solid;
  border-bottom-color: #00B5E8;
  border-bottom-width: 4px;
}

/* .yellow-bottom-border {
  border-bottom-style: solid;
  border-bottom-color: #CDE800;
  border-bottom-width: 4px;
} */

.red-bottom-border {
  border-bottom-style: solid;
  border-bottom-color: #FB555F;
  border-bottom-width: 4px;
}

.color-wilder{
  background: #FB555F;
}

.centered {
  display: flex;
  justify-content: center;
}

#MenuButton {
  z-index: 999999;
  right: 30px;
}

.background-zero {
  background-image: url(/res/images/Zero.jpg);
}

.background-flux {
  background-image: url(/res/images/Flux.jpg);
}

.background-infinity {
  background-image: url(/res/images/infinity.jpg);
}

.background-factory {
  background-image: url(/res/images/factory.jpg);
}

.background-numa {
  background-image: url(/res/images/Made-of-stars.jpg);
}

/* .background-madeofstars {
  background-image: url(/res/images/made-of-stars-min.jpg);
}

.background-trinity {
  background-image: url(/res/images/Trinity-min.jpg);
} */

.background-frankwilder {
  background-image: url(/res/images/wilder-studios.jpg);
}

.background-memento {
  background-image: url(/res/images/Memento.jpg);
}

/* CSS for smaller devices */

@media (max-width: 767.98px) {
  /* .carousel {
    height: 100vh;
  } */
  .carousel-item {
    height: 100vh;
  }
  .carousel-caption1 {
    top: 20%;
    width: 80%;
  }
  ol.carousel-indicators {
    /* position: absolute; */
    bottom: 14px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
  }
  ol.carousel-indicators li,
  ol.carousel-indicators li.active {
    display: inline-block;
    width: 8px;
    height: 8px;
    /* margin: auto; */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4px;
    margin-right: 4px;
    border: 0px solid #fff;
    border-radius: 16px;
  }
  ol.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #fff !important;
    border-radius: 24px;
  }
  ol.carousel-indicators li.after {
    bottom: 0px;
  }
  .indicator-logo {
    display: none;
  }
  .indicator-description {
    display: none;
  }
  .grey-background {
    background-color: white !important;
    border-width: 0px;
  }
  .dark-grey-background {
    background-color: white !important;
    border-width: 0px;
  }
}